*~
*.pyc
__pycache__
*/__pycache__
.pytest_cache
.cache
.coverage
htmlcov
report.html
.mypy_cache
.vscode
_build
.ipynb_checkpoints
./dist
trained_models


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
