numpy
matplotlib
scipy
scikit-learn
ipykernel
pandas
nb_mypy
plotly
jupyterlab_mathjax2
seaborn
tensorflow-cpu

gwyfile
ipympl 
ipywidgets

qiskit==2.3.0
qiskit-aer==0.17.2
qiskit-nature
qiskit_algorithms
pyscf

sympy
pylatexenc
